/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Courgette&family=Rajdhani&family=Ysabeau+Infant:wght@1&display=swap');
html,
body {
    overflow-x: hidden;
    box-sizing: border-box;
}

.homepage_bg {
    background-image: url('../src/assets/Images/bghome.svg');
}

.hoverEffect {

    /** TEXT GRADIENT */
    color: #8965ef;
    background-image: -webkit-linear-gradient(45deg, #8965ef 28%, #312eff 71%, #9b9bba 50%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;


}

.spinner {
    position: relative;
    width: 56px;
    height: 56px;
}

.spinner::before,
.spinner::after {
    content: '';
    width: 100%;
    height: 100%;
    animation: spinner-rfi6tk 1s infinite linear;
    box-sizing: border-box;
    border: 11.2px solid rgba(71, 75, 255, 0.1);
    border-radius: 50%;
    position: absolute;
}

.spinner::before {
    animation-direction: reverse;
    border-right-color: #fffffff6;
    right: calc(50% - 5.6px);
}

.spinner::after {
    border-left-color: #fffffff6;
    left: calc(50% - 5.6px);
}

@keyframes spinner-rfi6tk {
    0% {
        transform: rotate(0deg);
    }

    50%,
    100% {
        transform: rotate(360deg);
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
    }
    
    .animate-charcter {
        background-image: linear-gradient(-225deg,
                #231557 0%,
                #44107a 29%,
                #ff1361 67%,
                #fff800 100%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;
    }
    
    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
    
    .waviy {
        position: relative;
        -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
    }
    
    .waviy span {
        font-family: 'Alfa Slab One', cursive;
        position: relative;
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        animation: waviy 1s infinite;
        animation-delay: calc(.1s * var(--i));
    
    }
    
    @keyframes waviy {
    
        0%,
        40%,
        100% {
            transform: translateY(0)
        }
    
        20% {
            transform: translateY(-20px)
        }
    }
    
    /* This is will use for my Name at last */
    @import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
    
    .content {
        position: relative;
    }
    
    .content h2 {
        color: #fff;
        /* font-size: 3rem; */
        position: absolute;
        /* transform: translate(-50%, -50%); */
    }
    
    .content h2:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 2px #03a9f4;
    }
    
    .content h2:nth-child(2) {
        color: #03a9f4;
        animation: animate 2s ease-in-out infinite;
    }
    
    @keyframes animate {
    
        0%,
        100% {
            clip-path: polygon(0% 45%,
                    16% 44%,
                    33% 50%,
                    54% 60%,
                    70% 61%,
                    84% 59%,
                    100% 52%,
                    100% 100%,
                    0% 100%);
        }
    
        50% {
            clip-path: polygon(0% 60%,
                    15% 65%,
                    34% 66%,
                    51% 62%,
                    67% 50%,
                    84% 45%,
                    100% 46%,
                    100% 100%,
                    0% 100%);
        }
    }
    
    /* This is forl laoding   */
    .loading {
        position: relative;
    }
    
    .loading span {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        animation: flip 2s infinite;
        animation-delay: calc(.2s * var(--i))
    }
    
    @keyframes flip {
    
        0%,
        80% {
            transform: rotateY(360deg)
        }
    }
    
    


